.subtitle {
  font-style: italic;
  font-size: 1.2em;
  font-weight: 300;
  margin-top: 0;
}

.post {
  margin-bottom: 1em;
}

.title {
  text-align: center;
}

.read-more {
  font-size: 1.2em;
  font-style: italic;
  margin-bottom: 1em;
}

.profile-image {
  width: 130px;
  border: 1px solid #000;
}

.other-post-image {
  max-height: 1em;
}

.other-posts {
  margin: 1em auto;
  width: intrinsic;
}

.author {
  font-weight: bold;
}

.post-details {
  font-size: 0.8em;
  background-color: #eee;
  padding: 1em;
  margin: 1em 2em 1em 1em;
  width: 130px;
  float: left;
}


/** Clearfix **/

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}