/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/


html, body { height: 100%; }

body {
  background: url('/kraft.jpg');
  font: 13.34px 'Open Sans', sans-serif;
  font-size: small;
  text-align: center;
}

h1 { 
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

a         { 
  color: rgb(52,88,186);
  text-decoration: none; 
}
a:hover   { color: #000; }
a:visited { color: rgb(52,88,186); }

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}