.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

.content {
  margin-bottom: 2em;
}

.post-details {
  font-style: italic;
  font-size: 1.1em;
}

.header {
/*  background-image: url(/corner.png);
  background-repeat: no-repeat;*/
  padding-left: 120px;
  padding-top: 110px;
  height:100px;
  position: relative;
  top: -20px;
  left: -20px;
}

.site {
  font-size: 115%;
  background: url('/paper.jpg');
-webkit-border-top-left-radius: 40px;
-webkit-border-bottom-left-radius: 40px;
-moz-border-radius-topleft: 40px;
-moz-border-radius-bottomleft: 40px;
border-top-left-radius: 40px;
border-bottom-left-radius: 40px;
  text-align: justify;
  max-width: 960px;
  margin: 2em 0 2em 1em;
  padding: 5em;
  line-height: 1.5em;
  -webkit-box-shadow: -2px 3px 15px 0px rgba(50, 50, 50, 0.5);
-moz-box-shadow:    -2px 3px 15px 0px rgba(50, 50, 50, 0.5);
box-shadow:         -2px 3px 15px 0px rgba(50, 50, 50, 0.5);
border-right: 20px solid rgba(0, 0, 0, 0.05);
}


.side-col {
  max-width: 25%;
  float: left;
}

.main-col {
  max-width: 75%;
  float: left;
}

.header a {
  font-weight: bold;
  text-decoration: none;
}

.title a {
  color: #a00;
}

.title a:hover {
  color: #000;
}

.header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #000;
}

.meta {
  color: #aaa;
}

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer .contact a {
  color: #8085C1;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
