---
layout: default
title: "Profile"
---
{% assign author = site.authors[page.author] %}

<div class="g-row">
  <div class="g-1of6 g-all-space">
  </div>
  <div class="g-1of3 g-all-space">
    <h2>More about {{ author.name }}</h2>
    <img src="/assets/profiles/{{ author.image }}" class="profile-photo">
    <p>{{ author.first_para }}</p>
    <p>{{ author.second_para }}</p>
  </div>
  <div class="g-1of3 g-all-space">
    <h2>Posts by {{ author.name }}</h2>
    {% assign has_written = false %}
    {% for p in site.posts do %}
      {% if p.author == page.author %}
        <h2><a href="{{ p.url }}">{{ p.title }}</a></h2>
        <p class="subtitle">{{ p.subtitle }}</p>
        <p>{{ p.content | strip_html | truncatewords: 75 }}</p>
        <p class="readmore"><a href="{{p.url}}">Read more</a></p>
        {% assign has_written = true %}
      {% endif %}
    {% endfor %}
    {% if has_written == false %}
      <p>{{author.name}} hasn't written any posts yet.</p>
    {% endif %}
    </ul>
  </div>
</div>