<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ site.name }} - {{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,300italic,400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/from-rabid-site.css">
    <link rel="stylesheet" href="/css/blog-specific.css">
  </head>
<body>
  <div class='g-container white-bg shadowed'>
    <div class='g-line'>
      <div class='g-1of1 g-h-space'>
        <header class='header'>
          <div class='logo'>
            <a href='http://www.rabid.co.nz'>
              <img class="image" src="/assets/rabid-logo@2x.png" />
            </a>
          </div>
        </header>
      </div>
    </div>
    <div class='g-line'>
      <div class='g-1of1'>
        <nav class='main-nav'>
          <ul class='nav-list'>
            <li class='nav-item'>
              <a class='link' href='http://www.rabid.co.nz'>Home</a>
            </li>
            <li class='nav-item'>
              <a class='link' href='http://www.rabid.co.nz/about-us'>About Us</a>
            </li>
            <li class='nav-item'>
              <a class='link' href='http://www.rabid.co.nz/work'>Our Work</a>
            </li>
            <li class='nav-item'>
              <a class='link' href='http://www.rabid.co.nz/contact-us'>Get in Touch</a>
            </li>
            <li class='nav-item'>
              <a class='link' href='/'>Blog</a>
            </li>
          </ul>
          <img class="nav-right" src="/assets/nav-right-desktop@2x.png" />
        </nav>
      </div>
    </div>
    <div class="g-line">
      <div class="g-1of1 g-all-space">
        <div class="title">
          <h1><a href="/">{{ site.name }}</a></h1>
          <p class="subtitle">{{site.subtitle}}</p>
        </div>
        <hr>
        {{ content }}
      </div>
    </div> 
  <footer class="footer">
    <div class="g-line">
      <div class="short-contact-details">
        <div class="g-1of3 g-all-space">
          <div class='contact'>
            <span class='label'>Phone:</span>
            <a href='tel:022 690 8829'>022 690 8829</a>
          </div>
          <div class='contact'>
            <span class='label'>Freephone:</span>
            <a href='tel:0800 002 787'>0800 002 787</a>
            (NZ Only)
          </div>
          <div class='contact'>
            <span class='label'>Email:</span>
            <a href='mailto:hello@rabid.co.nz'>hello@rabid.co.nz</a>
          </div>
          <div class='contact'>
            <span class='label'>Mailing list:</span>
            <a href='http://eepurl.com/DAQ-D'>
            Join it
            </a>
          </div>
        </div>
        <div class="g-1of3 g-all-space">
          <div class='contact'>
            <span class='label'>Twitter:</span>
            <a href='http://twitter.com/rabidtech'>@rabidtech</a>
          </div>
          <div class='contact'>
            <span class='label'>Visit:</span>
            2/22 Allen St., Wellington 6011
            [<a href='https://maps.google.co.nz/maps?q=22+Allen+St,+Wellington&amp;hl=en&amp;sll=-41.291077,174.781623&amp;sspn=0.013785,0.033023&amp;hnear=22+Allen+St,+Te+Aro,+Wellington+6011&amp;t=m&amp;z=17'>Map</a>]
          </div>
        </div>
        <div class="g-1of3 g-all-space g-last">
          <div class="haiku">
            Thoughts, opinions, brains.<br />
            Rabid has many of these.<br />
            A static haiku.
          </div>
        </div>
      </div>
    </div>
  </footer>
  </div>
</body>
</html>
